h1 {
    color:white;
	text-align: center;
	margin-top: 50px;
}

.erklärung {
    color:white;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180.47deg, #6B2FA7 -6.13%, rgba(4, 58, 251, 0.453125) 41.07%, rgba(255, 255, 255, 0) 159.46%);
    margin: 0;
	padding: 0;
  }

.box {
    background-color: white;
    margin: 10px;
	padding: 20px;
	text-align: center;
	min-width: 250px;
}